html{
	font-family: 'Montserrat', sans-serif;
}
body{
	background-color:#efefef;
	margin: 0;
} 
header{
	background-color: #364552;
	color: white;
	padding: 3rem 2rem;
}
/*#cabecera{
	text-align: center;
	background-color: black;
	color: white;
	padding: 20px;
}*/